<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>SisGPE - Comparar Localidades</title>
    <link rel="stylesheet" type="text/css" href="../estilo.css" th:href="@{/estilo.css}">
</head>
<body>
<div id="area-cabecalho">
    <div id="area-logo">
        <h1>SisG<span class="branco">PE</span></h1>
    </div>
    <div id="area-menu">
        <a href="/" th:href="@{/}">Dados Local</a>
        <a href="/historico1" th:href="@{/historico1}">Histórico</a>
        <a href="/previsaosemana" th:href="@{/previsaosemana}">Previsão Semanal</a>
        <a href="/previsaoalerta" th:href="@{/previsaoalerta}">Alertas</a>
        <a href="/comparacao-meteorologica/form" th:href="@{/comparacao-meteorologica/form}">Comparar Locais</a>
    </div>
</div>

<div id="area-principal">
    <div id="area-postagens">
        <div class="postagem">
            <h2>Comparar Dados Meteorológicos Trimestrais</h2>
            <br>
            <form action="/comparacao-meteorologica/resultados" th:action="@{/comparacao-meteorologica/resultados}" method="get">
                <h4>Localidade 1</h4>
                <label for="lat1"><strong>Latitude 1:</strong></label>
                <input type="text" id="lat1" name="lat1" required>
                <br><br>
                <label for="lon1"><strong>Longitude 1:</strong></label>
                <input type="text" id="lon1" name="lon1" required>
                <br><br>

                <h4>Localidade 2</h4>
                <label for="lat2"><strong>Latitude 2:</strong></label>
                <input type="text" id="lat2" name="lat2" required>
                <br><br>
                <label for="lon2"><strong>Longitude 2:</strong></label>
                <input type="text" id="lon2" name="lon2" required>
                <br><br>

                <button type="submit"><strong>Comparar</strong></button>
            </form>
        </div>
    </div>
    <div id="rodape">
        <strong>SisGPE</strong>
    </div>
</div>
</body>
</html>