<!DOCTYPE html>
<html>
<head>
	<title>SisGPE</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../estilo.css">
</head>
<body>

	<div id="area-cabecalho">
		
		<div id="area-logo">
			<h1>SisG<span class="branco">PE</span></h1>
		</div>
		<div id="area-menu">
			<a href="index.html">Dados Local</a>
			<a href="historicoprevi.html">Histórico</a>
			<a href="xxxxxx">VVVV</a>
			<a href="xxxxxx">YYYYY</a>
			<a href="">WWWWWW</a>
		</div>

	</div>

	<div id="area-principal">

		<div id="area-postagens">

			<!-- postagem com formulário -->
			<div class="postagem">
				<h2>Consultar histórico</h2>
				<br>
				<form action="/dados" method="get">
				<label for="lat"><strong> Latitude:</strong></label>
				<input type="text" id="lat" name="lat" required>
				<br><br>

				<label for="lon"><strong>Longitude:</strong></label>
				<input type="text" id="lon" name="lon" required>
				<br><br>


				<button type="submit"><strong>Verificar</strong></button>
				</form>
		</div>
			<!--// fim do formulário -->
   

		</div>

		<div id="rodape">
			<strong>SisGPE</strong>
		</div>

	</div>

</body>
</html>
